.content{
  margin: 20px 50px 0 30px;
}
.content-title{
  font-size: 18px;
  margin-bottom: 20px;
}
.table-content{
  width: 1290px;
  color: #3f3e3e;
  border-collapse: collapse;
}
.table-content th{
  padding: 6px;
}
.table-content td{
  color: rgb(82, 80, 80);
}
.table-content th,.table-content td{
  border: 1px solid rgba(155, 156, 156, 0.329);
  padding: 8px;
  font-size: 15px;
}
.table-content tr:hover{
  cursor: pointer;
  background-color: rgba(218, 232, 238, 0.3);
}
.user-edit{
  display: flex;
  justify-content: space-between;
}
.edit-btn{
  width: 100px;
}
.edit-btn a,.delete-btn{
  display: inline-block;
  width: 43px;
  height: 25px;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid rgba(99, 100, 100, 0.3);
  border-radius: 6px;
  text-align: center;
  color: rgb(82, 80, 80);
}
.delete-btn{
  cursor: pointer;
}
.create-btn{
  width: 77px;
  margin: 50px auto;
}
.create-btn a{
  display: inline-block;
  width: 70px;
  height: 30px;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid rgba(99, 100, 100, 0.3);
  border-radius: 10px;
  text-align: center;
  color: rgb(82, 80, 80);
}